numpy==1.16.4
psycopg2-binary==2.8.3
sqlalchemy==1.3.5
geoalchemy2==0.6.3
shapely==1.6.4
#fiona==1.8.6
pyproj==2.2.1
pandas==0.24.2
geopandas==0.5.0
google-api-python-client==1.7.9
netCDF4==1.5.1
xlrd==1.2.0
xlwt==1.3.0
xlsxwriter==1.1.8
dbf==0.98.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
urllib3==1.25.3
flickrapi==2.4.0
tweepy==3.7.0
jupyter
scipy==1.3.0
scikit-learn==0.21.2
sklearn==0.0
pyexcel-ods==0.5.6
bs4==0.0.1
seaborn==0.9.0